%main.d-flex.align-items-center.justify-content-center.min-vh-100
  %div.w-100.px-3.mw-sm
    %h1.h4.text-center Remixer
    = sketch_form_with model: resource, url: registration_path(resource_name), class: "mt-5" do |f|
      .form-group
        = f.label :name, "Full name"
        = f.text_field :name, autocomplete: "name"

      .form-group
        = f.label :email, "Email address"
        = f.email_field :email, autocomplete: "email"

      .form-group
        = f.label :password
        = f.password_field :password,
          autocomplete: "new-password",
          help_text: @minimum_password_length ? "Minimum #{@minimum_password_length} characters" : nil

      .form-group
        = f.submit "Sign up", full: true

    %p.fs-8.text-secondary.mt-3
      By clicking Sign up you accept the Remixer
      %a{href: "#"} Terms of Use
      and acknowledge the
      %a{href: "#"} Privacy Policy

    %p.fs-8.mt-4.text-center
      Already have an account?
      = link_to "Log in", new_user_session_path
