.app-navbar {
  flex-shrink: 0;
  height: 48px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--bs-border-color);
  padding-left: map-get($spacers, 3);
  padding-right: map-get($spacers, 3);
}
