%main.d-flex.align-items-center.justify-content-center.min-vh-100
  %div.w-100.px-3.mw-sm
    %h1.h4.text-center Remixer
    = sketch_form_with model: resource, url: session_path(resource_name), class: "mt-5" do |f|
      .form-group
        = f.label :email, "Email address"
        = f.email_field :email, autocomplete: "email"

      .form-group
        = f.label :password
        = f.password_field :password, autocomplete: "current-password"

      .form-group
        .d-flex.align-items-center.justify-content-between
          - if devise_mapping.rememberable?
            .form-check
              = f.check_box :remember_me
              = f.label :remember_me, "Remember me", checkable: true

          %div
            = link_to "Forgot password?", new_user_password_path

      .form-group
        = f.submit "Log in", full: true

    %p.fs-8.text-secondary.mt-3
      By clicking Log in you accept the Remixer
      %a{href: "#"} Terms of Use
      and acknowledge the
      %a{href: "#"} Privacy Policy

    %p.fs-8.mt-4.text-center
      Don't have an account?
      = link_to "Sign up", new_user_registration_path
