// Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import 'bootstrap/scss/functions';

$enable-negative-margins: true;

// Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import 'bootstrap/scss/variables';

// Include remainder of required parts
@import 'maps';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/root';

// Include parts as needed
@import 'utilities';
@import 'reboot';

// Custom styles
@import 'avatar';
@import 'buttons';
@import 'forms';
@import 'typography';

// Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import 'bootstrap/scss/utilities/api';

:root {
  --bs-body-font-size: 0.875rem;
  --rx-color-subtle: #{$gray-100};
  --rx-color-inset: #{$gray-200};
  --rx-color-fg-default: var(--bs-body-color);
  --rx-color-fg-muted: #{$gray-600};
}

@import 'navbar/index';
@import 'sidebar/index';
