.avatar {
  flex-shrink: 0;
  display: inline-block;
  line-height: 1;
  background-color: var(--rx-color-subtle);
  border-radius: $border-radius-sm;
}

.avatar--rounded {
  border-radius: $border-radius-pill;
}
