$btn-white-space: nowrap;

@import 'bootstrap/scss/buttons';

.btn {
  --bs-btn-padding-y: 5px;
  --bs-btn-border-radius: #{$border-radius-sm};
  --bs-btn-focus-box-shadow: inset 0 0 0 1px #{$gray-700}, 0 0 0 1px #fff, 0 0 0 3px #{$blue-400};
}

.btn-danger {
  --bs-btn-focus-box-shadow: inset 0 0 0 1px #{$gray-700}, 0 0 0 1px #fff, 0 0 0 3px #{$red-400};
}

@include media-breakpoint-up(sm) {
  .btn {
    --bs-btn-font-size: 14px;
  }
}
