// Input
$input-border-color: $gray-600;
$input-padding-y: 5px;
$input-border-radius: $border-radius-sm;
$input-focus-box-shadow: inset 0 0 0 1px #{$gray-700}, 0 0 0 1px #fff, 0 0 0 3px #{$blue-400};
$form-check-input-focus-box-shadow: $input-focus-box-shadow;

// Label
$form-label-margin-bottom: map-get($spacers, 1);

@import 'bootstrap/scss/forms';

.form-label,
.form-check-label {
  line-height: 20px;
  user-select: none;
}

.form-group:not(:first-of-type) {
  margin-top: $spacer;
}

// Checkbox and radio
.form-check-input {
  border-color: $input-border-color;
}

// Checkbox and radio groups
.form-check {
  display: inline-flex;
  align-items: center;

  .form-check-input {
    margin-top: -0.05em;
  }

  .form-check-label {
    margin-left: 6px;
  }

  // Stack should have sufficient margin
  &:not(:first-of-type) {
    margin-top: map-get($spacers, 2);
  }
}

@include media-breakpoint-up(sm) {
  .form-control {
    line-height: 20px;
    font-size: 14px;
  }
}
