@import 'bootstrap/scss/reboot';

body {
  overflow-y: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

p {
  margin-bottom: 0;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
