@import 'bootstrap/scss/utilities';

$utilities: map-merge(
  $utilities,
  (
    'max-width':
      map-merge(
        map-get($utilities, 'max-width'),
        (
          values: $max-widths,
        )
      ),
    'overflow-y': (
      property: overflow-y,
      values: auto hidden,
    ),
  )
);
