%main.d-flex.align-items-center.justify-content-center.min-vh-100
  %div.w-100.px-3.mw-sm
    %h1.h4.text-center Create an organization
    %p.mt-2.text-secondary.text-center
      In an organization, you can invite your teammates, collaborate with them, and have fun at the same time.

    = sketch_form_with model: @organization, class: "mt-4" do |f|
      .form-group
        = f.label :name, "Your organization's name"
        = f.text_field :name, required: true

      .form-group
        = f.submit full: true
