.nav-sidebar {
  --item-box-shadow: inset 0 0 0 2px #{$blue-400};

  flex-shrink: 0;
  width: 16rem;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  background-color: var(--bs-body-bg);
  border-right: 1px solid var(--bs-border-color);
  height: 100vh;
}

.nav-sidebar-group {
  padding-left: map-get($spacers, 2);
  padding-right: map-get($spacers, 2);
}

.nav-sidebar-group--scroll {
  flex: 1 1 auto;
  overflow-y: auto;
}

.nav-sidebar-item-group {
  cursor: pointer;

  .nav-sidebar-item:not(:first-of-type) {
    margin-top: 2px;
  }
}

.nav-sidebar-context-btn,
.nav-sidebar-item {
  display: flex;
  align-items: center;
  color: var(--rx-color-fg-default);
  padding: 6px map-get($spacers, 3);
  border-radius: $border-radius-sm;
  line-height: 20px;
}

.nav-sidebar-context-btn {
  background: none;
  border: none;
  width: 100%;

  &:hover {
    background-color: var(--rx-color-inset);
  }

  &:focus-visible {
    outline: none;
    box-shadow: var(--item-box-shadow);
  }
}

.nav-sidebar-item {
  &:hover {
    text-decoration: none;
    background-color: var(--rx-color-inset);
    color: var(--rx-color-fg-default);
  }

  &:focus-visible {
    outline: none;
    box-shadow: var(--item-box-shadow);
  }

  &[aria-current='page'] {
    background-color: var(--rx-color-inset);
    font-weight: $font-weight-semibold;
  }

  > span {
    margin-left: map-get($spacers, 2);
  }
}
