!!! 5
%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title Remixer
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", data: {turbo_track: "reload"}
    = javascript_include_tag "application", data: {turbo_track: "reload"}, defer: true

  %body.flex-row
    %aside.nav-sidebar
      .nav-sidebar-group.flex-shrink-0.py-2.border-bottom{style: "height: 48px"}
        %button.nav-sidebar-context-btn{type: "button"}
          .flex-grow-1.text-start
            = current_organization.name
          = heroicon "chevron-down", variant: :mini, class: "me-n1 text-muted"

      .mt-1.mb-2.nav-sidebar-group.nav-sidebar-group--scroll
        .nav-sidebar-item-group
          = active_link_to dashboards_path, class: "nav-sidebar-item" do
            = heroicon "home", size: 20
            %span Dashboard

          = link_to "#", class: "nav-sidebar-item" do
            = heroicon "calendar", size: 20
            %span Schedule

          = link_to "#", class: "nav-sidebar-item" do
            = heroicon "user-group", size: 20
            %span Members

          = link_to "#", class: "nav-sidebar-item" do
            = heroicon "cog-6-tooth", size: 20
            %span Settings

    .flex-grow-1.d-flex.flex-column
      %header.app-navbar.justify-content-end
        .d-flex.align-items-center
          = render(AvatarComponent.new(src: "https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80", alt: current_user.name))
      %main.flex-grow-1.overflow-y-auto
        = yield
